In [2]:
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns

# <center> Автоматический вариант

## <center> 1. Подготовка таблиц и их сохранение в нормальном формате

In [30]:
# путь к папке, где лежат сырые БД
data_path = 'D:\\documents\\1_projects\\GreenDesign\\Инвентаризация'

# цикл прохода по каждому из файлов
for file_name in os.listdir(data_path):
    # проверка на формат
    
    if file_name[-5:] == '.xlsx':
        print(f'Открываем файл {file_name}')
        
        # путь к файлу, чтобы панды прочитали эксель
        file_path = 'D:/documents/1_projects/GreenDesign/Инвентаризация/' + file_name
        
        # прочитали эксель по заданному пути
        df = pd.read_excel(file_path, skiprows=2, converters={'Номер ИЗАВ по ПДВ': str})
        
        # тут происходит корректировка столбцов
        # по причине записи названий столбцов в 2 строки
        for i in df.columns:
            # если тип второй строки str
            if type(df.iloc[0][i]) == str:
                # и если сама колонка с именем
                if 'Unnamed' not in i:
                    # создаем временную переменную, которая содержит в себе название
                    # широкого (объединенного) столбца (самой текущей колонки)
                    current_name = i.strip()
                # получаем новое имя, складывая названия из двух строк
                new_name = current_name + ' (' + df.iloc[0][i].strip() + ')'
                # переименовываем столбцы с учетом второй строки
                df = df.rename(columns={i: new_name})
                
                
        # удаляем нулевую строку и сбрасываем индексы
        df = df.drop(axis=0, index=0).reset_index(drop=True)
        
        # удалили все столбцы с названием unnamed (на этот момент это должен быть только 3 столбец)
        for i in df.columns:
            if 'Unnamed' in i:
                df = df.drop([i], axis=1)
                
        # удалим столбец с нумерацией (так как у нас есть своя)
        df = df.drop(['№'], axis=1)
        
        # заполняем пропуски в некоторых столбцах
        df[['Наименование ОГ',\
            'Наименование площадки',\
            'Субъект РФ',\
            'Объект предприятия',\
            'Оборудование/ процесс с выделением ПГ',\
            'Номер ИЗАВ по ПДВ',\
            'Тип ИЗАВ (организованный/неорганизованный)'
        ]] = df[['Наименование ОГ',\
            'Наименование площадки',\
            'Субъект РФ',\
            'Объект предприятия',\
            'Оборудование/ процесс с выделением ПГ',\
            'Номер ИЗАВ по ПДВ',
            'Тип ИЗАВ (организованный/неорганизованный)'
        ]].fillna(method='ffill')
        
        # сохраняем файл в новую папку
        new_file_path = 'D:/documents/1_projects/GreenDesign/Инвентаризация/modif/'  + file_name
        print(f'Запись файла {file_name}, размер таблицы {df.shape}')
        print()
        df.to_excel(new_file_path)

Открываем файл База данных АО АНПЗ ВНК.xlsx
Запись файла База данных АО АНПЗ ВНК.xlsx, размер таблицы (23, 71)

Открываем файл База данных НК НПЗ.xlsx

d:\Users\dolzh\anaconda3\lib\site-packages\openpyxl\worksheet\_reader.py:312: UserWarning: Data Validation extension is not supported and will be removed
  warn(msg)

Запись файла База данных НК НПЗ.xlsx, размер таблицы (77, 71)

Открываем файл База данных ННК.xlsx
Запись файла База данных ННК.xlsx, размер таблицы (19, 71)

Открываем файл База данных по инвентаризации ПГ - Отрадненский ГПЗ.xlsx
Запись файла База данных по инвентаризации ПГ - Отрадненский ГПЗ.xlsx, размер таблицы (75, 72)

Открываем файл База данных по инвентаризации ПГ - Туймазинское ГПП.xlsx
Запись файла База данных по инвентаризации ПГ - Туймазинское ГПП.xlsx, размер таблицы (35, 71)

Открываем файл База данных по инвентаризации ПГ - Шкаповское ГПП.xlsx
Запись файла База данных по инвентаризации ПГ - Шкаповское ГПП.xlsx, размер таблицы (25, 72)

## <center> 2. Конкатенация таблиц в результирующий файл

In [31]:
data_path = 'D:\\documents\\1_projects\\GreenDesign\\Инвентаризация\\modif'

# задаем результирующий датафрейм
result = pd.DataFrame()

for file_name in os.listdir(data_path):
    # создаем словарь с датафреймами
    
    
    # проверка на то, чтобы это был не Result
    if file_name[:6] != 'result':
        
        # имя в соответсвии с каунтом
        # name = 'df' + str(count)
        
        print(f'Записываем в переменную файл {file_name}')
        file_path = 'D:/documents/1_projects/GreenDesign/Инвентаризация/modif/' + file_name
        df = pd.read_excel(file_path, converters={'Номер ИЗАВ по ПДВ': str})
        df = df.drop(['Unnamed: 0'], axis=1)
        result = pd.concat([result, df], ignore_index=True)
       
result.to_excel('D:/documents/1_projects/GreenDesign/Инвентаризация/modif/result.xlsx')

Записываем в переменную файл База данных АО АНПЗ ВНК.xlsx
Записываем в переменную файл База данных НК НПЗ.xlsx
Записываем в переменную файл База данных ННК.xlsx
Записываем в переменную файл База данных по инвентаризации ПГ - Отрадненский ГПЗ.xlsx
Записываем в переменную файл База данных по инвентаризации ПГ - Туймазинское ГПП.xlsx
Записываем в переменную файл База данных по инвентаризации ПГ - Шкаповское ГПП.xlsx

# <center> Ручной вариант

## <center> Группировка инфы из столбцов

Работаем с видом топлива:  
Нужно -  
* создать столбцы 'название_топлива' (прир газ, топливный газ)
* создать столбцы 'вид_топлива' (жидкое, газообразное, др..)
* создать столбец 'расход_топлива' (в соответсвующих ед изменерия)

In [3]:
df = pd.read_excel('D:/documents/1_projects/GreenDesign/Инвентаризация/modif/result.xlsx', index_col='Unnamed: 0')

### <center> Свод информации о виде и расходе топлива

* В столбцах с видами топлива пропуски (NaN) заменяем на пустые строки, т.к. с NaN нельзя производить операции сложения, а с количеством на нули
* создаем списки с уникальными наименованиями топлива по виду
* создаем функцию переименования под пум
* создаем пустые столбцы (вид, наименование, расход)
* проходим по каждой строке из таблицы, определяем по какому топливу наибольший расход - заносим это топливо
* 
* удаляем столбцы с видом и расходом топлива

new ver

In [62]:
# в столбцах с видом топлива заполняем nan пробелами
df['Жидкое топливо (Вид топлива)'] = df['Жидкое топливо (Вид топлива)'].fillna('')
df['Газообразное топливо (Вид топлива)'] = df['Газообразное топливо (Вид топлива)'].fillna('')
df['Твердое топливо (Вид топлива)'] = df['Твердое топливо (Вид топлива)'].fillna('')

# в столбцах с расходом топлива заполняем nan нулями
df['Газообразное топливо (Расход топлива, тыс. м3)'] = df['Газообразное топливо (Расход топлива, тыс. м3)'].fillna(0)
df['Жидкое топливо (Расход топлива, т)'] = df['Жидкое топливо (Расход топлива, т)'].fillna(0)
df['Твердое топливо (Расход топлива, т)'] = df['Твердое топливо (Расход топлива, т)'].fillna(0)

# создаем списки с уникальными названиями топлива
# газ
gas_fuels_list = sorted(list(df['Газообразное топливо (Вид топлива)'].apply(lambda x: x.lower().strip()).unique()))
if '' in gas_fuels_list:
    gas_fuels_list.remove('')
# жидк
liquid_fuels_list = sorted(list(df['Жидкое топливо (Вид топлива)'].apply(lambda x: x.lower().strip()).unique()))
if '' in gas_fuels_list:
    gas_fuels_list.remove('')
# твердое
solid_fuels_list = sorted(list(df['Твердое топливо (Вид топлива)'].apply(lambda x: x.lower().strip()).unique()))
if '' in gas_fuels_list:
    gas_fuels_list.remove('')


# функция переименования вида топлива под ПУМ
def fuels_to_pum(text):
    '''
    функция должна принимать на вход вид топлива, который изначально есть в столбцах с топливом
    в зависимости от того, к какому виду топлива относится полученный аргумент
    возвращается вид топлива и название топлива
    '''
    # газообразное топливо
    if text.lower().strip() in gas_fuels_list:
        if 'природ' in text:
            return 'газообразное топливо', 'природный газ'
        elif 'пнг' in text or 'попут' in text:
            return 'газообразное топливо', 'попутный нефтяной газ'
        else:
            return 'газообразное топливо', 'иное газообразное топливо'
    
    # жидкое топливо
    elif text.lower().strip() in liquid_fuels_list:
        if 'мазут' in text:
            return 'жидкое топливо', 'мазут'
        elif 'бензин' in text:
            return 'жидкое топливо', 'автобензины'
        elif 'дт' in text or 'диз':
            return 'жидкое топливо', 'дизельное топливо'
        elif 'нефть' in text:
            return 'жидкое топливо', 'нефть'
        elif 'конденс' in text or 'гк' in text:
            return 'жидкое топливо', 'газовый конденсат'
        else:
            return 'жидкое топливо', 'другие нефтепродукты'
        
    # твердое топливо
    elif text.lower().strip() in solid_fuels_list:
        if 'кокс' in text:
            return 'твердое топливо', 'кокс нефтяной'
        elif 'камен' in text:
            return 'твердое топливо', 'каменный уголь'
        elif 'буры' in text:
            return 'твердое топливо', 'бурый уголь'
        elif 'брикет' in text:
            return 'твердое топливо', 'брикеты угольные'
        else:
            return 'твердое топливо', 'другое твердое топливо'
    else:
        return np.NaN, np.NaN
        
        
# создаем пустые столбцы
df['вид_топлива'] = ''
df['название_топлива'] = ''
df['расход_топлива_т_год'] = 0

# для каждой строки с таблице, определяем топливо, у которого наибольший расход
for line in df.index:
    # если все равно нулю
    if max(df.loc[line, 'Газообразное топливо (Расход топлива, тыс. м3)'], 
           df.loc[line, 'Жидкое топливо (Расход топлива, т)'], 
           df.loc[line, 'Твердое топливо (Расход топлива, т)'],) == 0:
        df.loc[line, 'вид_топлива'] = np.NaN
        df.loc[line, 'название_топлива'] = np.NaN
        df.loc[line, 'расход_топлива_т_год'] = np.NaN
    
    # если максимум по газообразному
    elif max(df.loc[line, 'Газообразное топливо (Расход топлива, тыс. м3)'] * 0.657 / 1000, 
             df.loc[line, 'Жидкое топливо (Расход топлива, т)'], 
             df.loc[line, 'Твердое топливо (Расход топлива, т)'],) == df.loc[line, 'Газообразное топливо (Расход топлива, тыс. м3)'] * 0.657 / 1000:
        df.loc[line, 'вид_топлива'] = fuels_to_pum(df.loc[line, 'Газообразное топливо (Вид топлива)'])[0]
        df.loc[line, 'название_топлива'] = fuels_to_pum(df.loc[line, 'Газообразное топливо (Вид топлива)'])[1]
        df.loc[line, 'расход_топлива_т_год'] = df.loc[line, 'Газообразное топливо (Расход топлива, тыс. м3)'] * 0.657 / 1000
        
    # если максимум по жидкому
    elif max(df.loc[line, 'Газообразное топливо (Расход топлива, тыс. м3)'] * 0.657 / 1000, 
             df.loc[line, 'Жидкое топливо (Расход топлива, т)'], 
             df.loc[line, 'Твердое топливо (Расход топлива, т)'],) == df.loc[line, 'Жидкое топливо (Расход топлива, т)']:
        df.loc[line, 'вид_топлива'] = fuels_to_pum(df.loc[line, 'Жидкое топливо (Вид топлива)'])[0]
        df.loc[line, 'название_топлива'] = fuels_to_pum(df.loc[line, 'Жидкое топливо (Вид топлива)'])[1]
        df.loc[line, 'расход_топлива_т_год'] = df.loc[line, 'Жидкое топливо (Расход топлива, т)']
        
    # если максимум по твердому
    elif max(df.loc[line, 'Газообразное топливо (Расход топлива, тыс. м3)'] * 0.657 / 1000, 
             df.loc[line, 'Жидкое топливо (Расход топлива, т)'], 
             df.loc[line, 'Твердое топливо (Расход топлива, т)'],) == df.loc[line, 'Твердое топливо (Расход топлива, т)']:
        df.loc[line, 'вид_топлива'] = fuels_to_pum(df.loc[line, 'Твердое топливо (Вид топлива)'])[0]
        df.loc[line, 'название_топлива'] = fuels_to_pum(df.loc[line, 'Твердое топливо (Вид топлива)'])[1]
        df.loc[line, 'расход_топлива_т_год'] = df.loc[line, 'Твердое топливо (Расход топлива, т)']
        
# удаляем использованные столбцы 
df = df.drop([
    'Жидкое топливо (Вид топлива)',
    'Газообразное топливо (Вид топлива)',
    'Твердое топливо (Вид топлива)',
    'Газообразное топливо (Расход топлива, тыс. м3)',
    'Жидкое топливо (Расход топлива, т)',
    'Твердое топливо (Расход топлива, т)'
], axis=1)

### <center> Работа с количеством выбросов газов

#### <center> Выбросы СО2

##### Виды выбросов СО2

In [6]:
# пропуски в колонках с количеством выбросов газа заполняем нулями
for col in df.columns:
    if 'Выбросы СО2' in col:
        df[col] = df[col].fillna(0)

# создаем столбец с пустыми стоковыми значениями в ячейках
df['вид_выбросов_со2'] = ''

# в зависимости от того, в каком столбце изнаачально стояло количество выбросов, определяем вид выброса по источнику
for row in df.index:
    # for col in df.columns:
    # if 'Выбросы СО2' in col:
    if df.loc[row, '1. Стационарное сжигание топлива (Выбросы СО2, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_со2'] += 'Стационарное сжигание топлива'
    elif df.loc[row, '2. Сжигание в факелах (Выбросы СО2, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_со2'] += 'Сжигание в факелах'
    elif df.loc[row, '3. Фугитивные выбросы (Выбросы СО2, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_со2'] += 'Фугитивные выбросы'
    elif df.loc[row, '4. Нефтепереработка (Выбросы СО2, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_со2'] += 'Нефтепереработка'
    elif df.loc[row, '5. Производство кокса (Выбросы СО2, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_со2'] += 'Производство кокса'
    elif df.loc[row, '12. Нефтехимическое производство (Выбросы СО2, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_со2'] += 'Нефтехимическое производство'
    elif df.loc[row, '17. Прочие промышленные процессы (Выбросы СО2, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_со2'] += 'Прочие промышленные процессы'
    elif df.loc[row, '20 Автомобильный транспорт (на балансе) (Выбросы СО2, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_со2'] += 'Автомобильный транспорт'
    elif df.loc[row, '24 Полигоны (Выбросы СО2, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_со2'] += 'Полигоны'  
        
# переводим пропуски в nan   
df['вид_выбросов_со2'] = df['вид_выбросов_со2'].apply(lambda x: x if x != '' else np.NaN)

##### Количество выбросов СО2

In [7]:
# создаем столбец, заполняем нулями
df['количество_выбросов_со2_т_год'] = 0

# проверка на то, чтобы в этих столбцах были именно float значения
for col in df.columns[9:62]:
    df[col] = df[col].apply(lambda x: x if (type(x) is int) | (type(x) is float) else x.replace(',', '.'))
    df[col] = df[col].astype('float64')

# заполняем колонку с количеством выбросов, если в какой-то из изходный колонок есть инфа
for row in df.index:
    for col in df.columns:
        if 'Выбросы СО2' in col:
            df.loc[row, 'количество_выбросов_со2_т_год'] += df.loc[row, col]
            
# колонки с нулями переводим в nan
df['количество_выбросов_со2_т_год'] = df['количество_выбросов_со2_т_год'].apply(lambda x: x if x != 0 else np.NaN)

#### <center> Выбросы СН4

##### Виды выбросов СН4

In [8]:
# пропуски в колонках с количеством выбросов газа заполняем нулями
for col in df.columns:
    if 'Выбросы СН4' in col:
        df[col] = df[col].fillna(0)

# создаем столбец с пустыми стоковыми значениями в ячейках
df['вид_выбросов_сh4'] = ''

# в зависимости от того, в каком столбце изнаачально стояло количество выбросов, определяем вид выброса по источнику
for row in df.index:
    # for col in df.columns:
    # if 'Выбросы СО2' in col:
    if df.loc[row, '2. Сжигание в факелах (Выбросы СН4, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_сh4'] += 'Сжигание в факелах'
    elif df.loc[row, '3. Фугитивные выбросы (Выбросы СН4, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_сh4'] += 'Фугитивные выбросы'
    elif df.loc[row, '23 Выбросы от управления СВ (БОСы) (Выбросы СН4, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_сh4'] += 'Выбросы от управления СВ (БОСы)'
    elif df.loc[row, '24 Полигоны (Выбросы СН4, т/год)'] != 0:
        df.loc[row, 'вид_выбросов_сh4'] += 'Полигоны'  
        
# переводим пропуски в nan   
df['вид_выбросов_сh4'] = df['вид_выбросов_сh4'].apply(lambda x: x if x != '' else np.NaN)

##### Количество выбросов СН4

In [9]:
# создаем столбец, заполняем нулями
df['количество_выбросов_сh4_т_год'] = 0

# заполняем колонку с количеством выбросов, если в какой-то из изходный колонок есть инфа
for row in df.index:
    for col in df.columns:
        if 'Выбросы СН4' in col:
            df.loc[row, 'количество_выбросов_сh4_т_год'] += df.loc[row, col]
            
# колонки с нулями переводим в nan
df['количество_выбросов_сh4_т_год'] = df['количество_выбросов_сh4_т_год'].apply(lambda x: x if x != 0 else np.NaN)

#### <center> Выброс ПГ с учётом ПГП

##### Виды выбросов ПГ с учётом ПГП

In [10]:
# пропуски в колонках с количеством выбросов ПГ заполняем нулями
for col in df.columns:
    if 'Выброс ПГ' in col:
        df[col] = df[col].fillna(0)

# создаем столбец с пустыми стоковыми значениями в ячейках
df['вид_выбросов_пг_с_пгп'] = ''

# в зависимости от того, в каком столбце изнаачально стояло количество выбросов, определяем вид выброса по источнику
for row in df.index:
    if df.loc[row, '1. Стационарное сжигание топлива (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Стационарное сжигание топлива'
    elif df.loc[row, '2. Сжигание в факелах (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Сжигание в факелах'
    elif df.loc[row, '3. Фугитивные выбросы (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Фугитивные выбросы'
    elif df.loc[row, '4. Нефтепереработка (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Нефтепереработка'
    elif df.loc[row, '5. Производство кокса (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Производство кокса'
    elif df.loc[row, '12. Нефтехимическое производство (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Нефтехимическое производство'
    elif df.loc[row, '17. Прочие промышленные процессы (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Прочие промышленные процессы'
    elif df.loc[row, '20 Автомобильный транспорт (на балансе) (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Автомобильный транспорт'
    elif df.loc[row, '23 Выбросы от управления СВ (БОСы) (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Выбросы от управления СВ (БОСы)'
    elif df.loc[row, '24 Полигоны (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Полигоны'  
    elif df.loc[row, 'Косвенные от потребления эл. энергии (Охват 2) (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Косвенные от потребления эл. энергии и тепла'  
    elif df.loc[row, 'Косвенные от потребления тепла (Охват 2) (Выброс ПГ с учётом ПГП, тонн СО2-экв/год)'] != 0:
        df.loc[row, 'вид_выбросов_пг_с_пгп'] += 'Косвенные от потребления тепла'  

# переводим пропуски в nan   
df['вид_выбросов_пг_с_пгп'] = df['вид_выбросов_пг_с_пгп'].apply(lambda x: x if x != '' else np.NaN)

##### Количество выбросов ПГ с учётом ПГП

In [11]:
# создаем столбец, заполняем нулями
df['количество_выбросов_пг_с_пгп_т_год'] = 0

# заполняем колонку с количеством выбросов, если в какой-то из изходный колонок есть инфа
for row in df.index:
    for col in df.columns:
        if 'Выброс ПГ' in col:
            df.loc[row, 'количество_выбросов_пг_с_пгп_т_год'] += df.loc[row, col]
            
# колонки с нулями переводим в nan
df['количество_выбросов_пг_с_пгп_т_год'] = df['количество_выбросов_пг_с_пгп_т_год'].apply(lambda x: x if x != 0 else np.NaN)

#### <center> Удаление схлопнувшихся столбцов, и столбцов с малым количеством данных

In [17]:
# удаляем те столбцы, инфу из которых ранее использовали
for col in df.columns:
    if 'Выбросы СО2' in col or 'Выбросы СН4' in col or 'Выброс ПГ' in col:
        df = df.drop([col], axis=1)

# Находим столбцы, где пропусков более 98% (на данный момент это 3 значени, 3 записанных строки)        
cols_null_percent = df.isnull().mean() * 100
cols_with_null = cols_null_percent[cols_null_percent>98].sort_values(ascending=False)

#задаем минимальный порог: вычисляем 3% от числа строк
thresh = df.shape[0]*0.03
#удаляем столбцы, в которых более 97% пропусков
df = df.dropna(how='any', thresh=thresh, axis=1)

In [19]:
df.to_excel('D:/documents/1_projects/GreenDesign/Инвентаризация/modif/result_middle.xlsx', sheet_name='main')

In [31]:
# создаем пустой столбец с видом оборудования
df['вид_оборудования'] = ''

# функция переименования
def rename_equip(equip):
    if 'авто' in equip.lower():
        return 'автотранспорт'
    elif 'кот' in equip.lower():
        return 'котел'
    elif 'печ' in equip.lower():
        return 'печь'
    elif 'полигон' in equip.lower():
        return 'полигон'
    elif ('свеча' in equip.lower()) or ('севеча' in equip.lower()):
        return 'свеча'
    elif 'факел' in equip.lower():
        return 'факел'
    elif 'резервуар' in equip.lower():
        return 'резервуары'
    elif 'труба' in equip.lower():
        return 'труба'
    elif 'газомотокомпрессор' in equip.lower():
        return 'газомотокомпрессор'
    else:
        return equip.lower()


df['вид_оборудования'] = df['Оборудование/ процесс с выделением ПГ'].apply(rename_equip)
# list(df['вид_оборудования'].unique())
# Количество смотрим
df.groupby(by=['вид_оборудования'])['Наименование ОГ'].count().sort_values(ascending=False)

вид_оборудования
печь                                               52
свеча                                              45
газомотокомпрессор                                 40
автотранспорт                                      32
котел                                              29
факел                                              27
гру                                                 6
полигон                                             3
дымовые трубы №1, №2                                3
аммиачные компрессоры                               2
труба                                               2
цех №8. установки биологической очистки стоков      2
колонна распылительной сушки                        1
кузнечный горн                                      1
илошламонакопитель                                  1
регенераторы п-14/1, п-14/2                         1
резервуары                                          1
тэц                                                 1
установка вт - битумная                             1
установка изомеризации                              1
установка лк - 6ус                                  1
бос                                                 1
цех №23 нейтрализация и очистка промстоков          1
Name: Наименование ОГ, dtype: int64

In [14]:
# Смотрим выбросы СО2
df.groupby(by=['вид_оборудования'])['количество_выбросов_со2_т_год'].\
    agg(['sum', 'count']).\
    sort_values(by=['sum'], ascending=[False])

                                                          sum  count
вид_оборудования
дымовые трубы №1, №2                             1.198360e+06      3
печь                                             5.581131e+05     16
установка лк - 6ус                               1.847857e+05      1
тэц                                              1.548864e+05      1
котел                                            1.048424e+05     14
факел                                            5.511607e+04     15
газомотокомпрессор                               1.237573e+04      4
установка вт - битумная                          9.686676e+03      1
автотранспорт                                    4.722059e+03     17
полигон                                          2.047317e+03      2
цех №23 нейтрализация и очистка промстоков       1.286304e+03      1
установка изомеризации                           3.059620e+02      1
колонна распылительной сушки                     1.936130e+02      1
регенераторы п-14/1, п-14/2                      4.827100e+01      1
резервуары                                       2.606300e+01      1
цех №8. установки биологической очистки стоков   5.561000e+00      2
кузнечный горн                                   1.022500e+00      1
свеча                                            5.960000e-02      4
аммиачные компрессоры                            0.000000e+00      0
труба                                            0.000000e+00      0
илошламонакопитель                               0.000000e+00      0
гру                                              0.000000e+00      0
бос                                              0.000000e+00      0

In [15]:
# Смотрим выбросы СH4
df.groupby(by=['вид_оборудования'])['количество_выбросов_сh4_т_год'].\
    agg(['sum', 'count']).\
    sort_values(by=['sum'], ascending=[False])

                                                     sum  count
вид_оборудования
факел                                            715.574     15
резервуары                                       363.342      1
полигон                                           81.893      2
свеча                                              1.000      4
регенераторы п-14/1, п-14/2                        0.000      0
цех №23 нейтрализация и очистка промстоков         0.000      0
установка лк - 6ус                                 0.000      0
установка изомеризации                             0.000      0
установка вт - битумная                            0.000      0
тэц                                                0.000      0
труба                                              0.000      0
автотранспорт                                      0.000      0
аммиачные компрессоры                              0.000      0
печь                                               0.000      0
кузнечный горн                                     0.000      0
котел                                              0.000      0
колонна распылительной сушки                       0.000      0
илошламонакопитель                                 0.000      0
дымовые трубы №1, №2                               0.000      0
гру                                                0.000      0
газомотокомпрессор                                 0.000      0
бос                                                0.000      0
цех №8. установки биологической очистки стоков     0.000      0

In [16]:
# Смотрим выбросы ПГ
df.groupby(by=['вид_оборудования'])['количество_выбросов_пг_с_пгп_т_год'].\
    agg(['sum', 'count']).\
    sort_values(by=['sum'], ascending=[False])

                                                       sum  count
вид_оборудования
печь                                             114285.00      9
котел                                             26804.00      9
газомотокомпрессор                                26050.00      4
факел                                             18975.00      2
автотранспорт                                       102.00     11
свеча                                                25.04      4
кузнечный горн                                        1.00      1
цех №23 нейтрализация и очистка промстоков            0.00      0
установка лк - 6ус                                    0.00      0
установка изомеризации                                0.00      0
установка вт - битумная                               0.00      0
тэц                                                   0.00      0
труба                                                 0.00      0
полигон                                               0.00      0
резервуары                                            0.00      0
регенераторы п-14/1, п-14/2                           0.00      0
аммиачные компрессоры                                 0.00      0
колонна распылительной сушки                          0.00      0
илошламонакопитель                                    0.00      0
дымовые трубы №1, №2                                  0.00      0
гру                                                   0.00      0
бос                                                   0.00      0
цех №8. установки биологической очистки стоков        0.00      0

In [33]:
df.to_excel('D:/documents/1_projects/GreenDesign/Инвентаризация/modif/result_1.xlsx')